<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>TasckhProgect</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
<servlet>
  <servlet-name>Tasckh</servlet-name>
    <!-- Specifichiamo che vogliamo usare come servlet principale quella di Spring  -->
    <servlet-class>
         org.springframework.web.servlet.DispatcherServlet
      </servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
   
    <!-- Definisco i file di configurazione per gestire il contesto delle servlet (web application contest), dovrebbe avere un nome tipo: NomeServlet-servlet.xml (es: HelloWeb-servlet.xml) -->
  <servlet-mapping>
    <servlet-name>Tasckh</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
  
  <!-- Definisco che gli URI specificati non saranno gestiti dalla servlet di Spring -->
  <servlet-mapping>
  	<servlet-name>default</servlet-name>
  	<url-pattern>/resources/**</url-pattern>
  	<url-pattern>*.css</url-pattern>
  	<url-pattern>*.png</url-pattern>
  	<url-pattern>*.jpg</url-pattern>
  	<url-pattern>*.jpeg</url-pattern>
  	<url-pattern>*.gif</url-pattern>
  	<url-pattern>*.bmp</url-pattern>
  	<url-pattern>*.js</url-pattern>
  </servlet-mapping>
  
  <!--  In questo caso potrei omettere il context-param perchè uso i parametri di default per nome e percorso -->
	<context-param>
	   <param-name>contextConfigLocation</param-name>
	   <param-value>/Tasckh-servlet.xml</param-value>
	</context-param>
	
	<context-param>
        <param-name>log4jConfigLocation</param-name>
        <param-value>/WEB-INF/log4j.properties</param-value>
    </context-param>

	<context-param>
        <param-name>TasckhRoot</param-name>
        <param-value>/TasckhProgect</param-value>
    </context-param>
	<context-param>
    <param-name>webAppRootKey</param-name>
    <param-value>webapp.root.one</param-value>
</context-param>
    <listener>
        <listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
    </listener>
</web-app>